<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Account Page</title>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul class="list">
            <li>
              <a href="#" class="list-group-item" type="btn btn-link">
                Pesanan Saya
              </a>
            </li>
            <li>
              <a href="#" class="list-group-item" type="btn btn-link">
               Akun Saya
             </a>
            </li>
            <li>
              <a href="#" class="list-group-item" type="btn btn-link">
               Wishlist Saya
             </a>
            </li>
            <li>
              <a href="#" class="list-group-item" type="btn btn-link">
              Keluar
            </a>

            </li>

          </ul>
        </div>
        <div class="col-md-8">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
            <li class=""><a href="#profile" data-toggle="tab">Profile</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="home">
              home tab!
            </div>
            <div class="tab-pane fade" id="profile">
              profile tab!
            </div>
          </div>

          </div>


          </div>
        </div>

  </body>
</html>
